@{
    ViewData["Title"] = "List of Values From Data Service";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Data Service</h2>
            <p>
                Go to <a href="http://localhost:5200/swagger">Data Service Swagger UI</a>, to inspect the swagger definition.
                (Start the DataService if the site is not available and you do not see any results down below)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>List of values</h2>

        </div>        
    </div>
</div>